<app-header-navbar></app-header-navbar>
<div class="row">
    <div class="bg-white border col-2">
        <div class="list-group">
            <!-- <button class="btn rounded-0 text-center bg-dark text-white py-2" role="button" routerLink="report-5percent">
                Dashboard
            </button> -->
            <button class="btn dropdown-toggle rounded-0 text-center bg-dark text-white py-2" data-bs-toggle="collapse" href="#validate" role="button" aria-expanded="false" aria-controls="collapseExample">
                Reading
            </button>
            <div class="collapse show" id="validate">
                <a href="#" class="list-group-item list-group-item-action" routerLink="read-validate" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Validate Read</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="read-bifurcation" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Read Bifurcation</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="invoice-generation" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Invoice Generation</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="consumption-report" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Consumption Report</a>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 col-10">
        <router-outlet></router-outlet>
    </div>
</div>