<app-header-navbar></app-header-navbar>
<div class="row">
    <div class="bg-white border p-0 col-2">
        <div class="list-group">
            <button class="btn dropdown-toggle rounded-0 text-center bg-dark text-white py-2" data-bs-toggle="collapse" href="#reading" role="button" aria-expanded="false" aria-controls="collapseExample">
                Reading
            </button>
            <div class="collapse show" id="reading">
                <a href="#" class="list-group-item list-group-item-action" routerLink="read-file-upload" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">File Upload</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="reading-add" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Punch Manual Read</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="absent-read" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Absent Read</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="read-history" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Read History</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="report-5percent" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">5 Percent Report</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="read-force-accept" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Force Accept</a>

            </div>
        </div>
        <div class="list-group">
            <button class="btn dropdown-toggle rounded-0 text-center bg-dark text-white py-2" data-bs-toggle="collapse" href="#report" role="button" aria-expanded="false" aria-controls="collapseExample">
                Report
            </button>
            <div class="collapse" id="report">
                <a href="#" class="list-group-item list-group-item-action" routerLink="consumption-report" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Consumption Report</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="view-bifurcation" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">View Bifurcation</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="view-invoice" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">View invoice</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="5percent-consumption-report" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">0.05 Pass/Fail Report</a>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 col-10">
        <router-outlet></router-outlet>
    </div>
</div>