<div class="card-header font-weight-bold text-center" id="login-header">

	<h3>Madhya Pradesh Pashchim Kshetra Vidyut Vitaran Co. Ltd </h3>
	
	</div>
	
	<!-- <div class="header font-weight-bold text-center"  id="login-header">
		<h3>Madhya Pradesh Pashchim Kshetra Vidyut Vitaran Co. Ltd </h3>
	<img class="img-fluid" style="width: 45px;"  src="../../assets/mppkvvcl_logo.jpg" alt=""/>
	</div> -->
	
	<div class="container-fluid " id="login-container" >
		
			<div class="d-flex justify-content-center h-100">
				<div class="card text-light">										
					<!-- lightcyan -->
					<div class="card-header" style="color:black; background-color: lightcyan;">
						<!-- <div class="d-flex justify-content-between">
							<h3><i class="bi bi-box-arrow-in-right"></i>Sign In</h3>
						</div> -->
	
	
						<div class="container text-center mt" >
							<img class="img-fluid" style="width: 130px;"  src="/assets/images/lock.png" alt="" />
							<!-- <img class="img-fluid" style="width: 25%;"  src="../../assets/images/mppkvvcl_logo.jpg" alt=""/> -->
							<!-- <img class="img-fluid" style="width: 25%;"  src="../../assets/images/mppkvvcl_logo_1.png" alt=""/> -->
						
	
						<div class="styled-text">
							<h3 class="text-center"><span class="first-letter">R</span>enewable <span class="first-letter">E</span>nergy <span class="first-letter">B</span>illing</h3>
						</div>
	
	</div>
					</div>
					<div class="card-body" style="background-color: white;">
						<form>
							<div class="input-group mb-4">
									<span class="input-group-text"><i class="bi bi-person-bounding-box"></i></span>
								<input type="text" class="form-control form-control-lg" placeholder="username" [(ngModel)]="user.username" name="user">
								
							</div>
							<div class="input-group mb-4">
									<span class="input-group-text"><i class="bi bi-key"></i></span>
								<input type="password" class="form-control form-control-lg" placeholder="password" [(ngModel)]="user.password" name="password">
							</div>
							<div *ngIf="loginError" class="text-center text-danger mb-2">{{errorText}}</div>
							<div class="d-flex justify-content-around">
								<!--btn btn-primary col-12-->
								<button type="submit" value="Login" class="button login-primary-btn" (click)="submitClicked()" [disabled]="loading">
									<div class="spinner-border spinner-border-sm" [hidden]="!loading">
									</div>
									Login
								</button>
							</div>
						</form>
					</div>
					<div class="card-footer text-center" style="color:black;">
						<span>© MPPKVVCL Indore</span>
					</div>
				</div>
			</div>
		
	
		
		
		
	</div>
	
	<div class="footer" id="login-footer">
		<p class="text-center m-b-0" style="color: gray;">Software Developed &amp; Maintained By Central Software Development Cell of MPPKVVCL<br> under SE IT ERP</p>
	</div>


	<!-- <div class="footer" id="login-footer">
		<p class="text-center m-b-0" style="color: gray;">Software Developed &amp; Maintained By Central Software Development Cell of MPPKVVCL, under SE IT ERP
		<br><small>Developer : Shadab Khan, Gaurav Gothi, Shyam Patidar, Ankit Shrotriya <br> Designer  :  Ankit Chourasia, Amit Tiwari </small>
		</p>
	</div> -->