#login-container{
    height: 100vh;
    /* align-items: center;
    justify-content: center; */
    /* background-image: url('../../assets/images/bg-login.jpg'); */
    background-image: url('../../assets/images/wind_mill.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card{
    margin: auto;
    background-color: rgba(0,0,0,0.5) !important;
}

.first-letter {
    color: #FF4081;
}