<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid d-flex fles-direction-between text-white">
        <a href="javascript:void(0)" class="navbar-brand" (click)="homeClicked()">RE Billing</a>
        <div>
            <span class="me-2">Welcome : {{user}}</span>
            <button class="badge bg-secondary me-2" disabled>
                Session : <app-session-timer></app-session-timer>
            </button>
            <button class="badge bg-danger" type="button" (click)="logoutClicked()">
                logout
            </button>
        </div>
    </div>
</nav>