<app-header-navbar></app-header-navbar>
<div class="row">
    <div class="bg-white border p-0 col-2">
        <div class="list-group">
            <button class="btn dropdown-toggle rounded-0 text-center bg-dark text-white py-2" data-bs-toggle="collapse" href="#report" role="button" aria-expanded="false" aria-controls="collapseExample">
                Report
            </button>
            <div class="collapse show" id="report">
                <a href="#" class="list-group-item list-group-item-action" routerLink="verify-invoice" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Validate Invoice</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="consumption-report" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Consumption Report</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="view-bifurcation" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">View Bifurcation</a>
                <a href="#" class="list-group-item list-group-item-action" routerLink="download-solar-statement" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Solar Statement</a>
            </div>
        </div>
        <div class="list-group">
            <button class="btn dropdown-toggle rounded-0 text-center bg-dark text-white py-2" data-bs-toggle="collapse" href="#mapping" role="button" aria-expanded="false" aria-controls="collapseExample">
                Mapping
            </button>
            <div class="collapse" id="mapping">
                <a href="#" class="list-group-item list-group-item-action" routerLink="Complete-mapping-view" routerLinkActive="bg-secondary text-white" [routerLinkActiveOptions]="{exact: true}">Complete Mapping View</a>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0 col-10">
        <router-outlet></router-outlet>
    </div>
</div>
