<div class="card rounded-0">
    <div class="card-header bg-secondary text-white text-center">
        <b>Reset Password</b>
    </div>
    <fieldset ngForm class="card-body " #f="ngForm" [disabled]="loading">
        <div class="d-flex flex-column">
            <div class="mb-3">
                <label>Old Password</label>
                <input class="form-control" type="password" ngModel name="oldPassword" id="oldPassword" #oldPass="ngModel" 
                [ngClass]="{'is-invalid': oldPass.errors && (oldPass.dirty || oldPass.touched)}" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label>New Password</label>
                <input class="form-control" type="password" ngModel name="newPassword" id="newPassword" #newPass="ngModel" 
                [ngClass]="{'is-invalid': newPass.errors && (newPass.dirty || newPass.touched)}" autocomplete="off" required>
            </div>
            <div class="mb-3">
                <label>Confirm Password</label>
                <input class="form-control" type="password" ngModel name="confirmPassword" id="confirmPassword" #confirmPass="ngModel" 
                [ngClass]="{'is-invalid': confirmPass.errors && (confirmPass.dirty || confirmPass.touched)}" autocomplete="off" required>
            </div>
            <div class="d-flex justify-content-around">
                <button class="btn btn-primary" [disabled]="f.form.invalid || f.form.disabled" (click)="submitPassword(f)">Submit</button>
                <button class="btn btn-danger" (click)="closeActiveModal()">Close</button>
            </div>
        </div>
    </fieldset>
</div>
